.slds-section {
    border-radius: 0.25rem;
    border: 1px solid #d8dde6;
}

.slds-section__title {
    font-size: 1rem;
    background: #f3f2f2;
    padding: 0.50rem;
    border-bottom: 1px solid #d8dde6;
    cursor: pointer;
}

.slds-section__title:hover {
    background: #e0e0e0;
}

.slds-accordion__summary {
	font-size: 1rem;
    background: #f3f2f2;
    padding: 0.50rem;
    border-bottom: 1px solid #d8dde6;
    cursor: pointer;
}

/* caseRelatedAccountDetails.css */
:host {
    display: block;
}

.lightning-output-field {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 0.5rem; /* Optional: Add some padding for better spacing */
}